@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    background-color: #F2F4FC;
    color: #292e47;
}

.blue-hover-btns:hover {
    background-color: #292e47;
}

.container-padding {
    padding: 0 30px;
}

/* Header & Navbar Section  */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navbar-logo {
    width: 60px;
    height: 18px;
}

.header .burger-menu-btn {
    padding: 16px 18px;
}

.header .burger-icon {
    padding: 3px 2px 1px 2px;
    margin: 0;
}

.navbar {
    display: none;
}

.navbar .nav-item {
    text-decoration: none;
    color: #6b708d;
    font-weight: 500;
    padding: 20px;
}

.navbar .nav-home {
    color: #0082f3;
}

.navbar .nav-item:hover {
    color: #072ac8;
}

.contact-us-btn {
    display: none;
    padding: 15px 30px;
    background-color: #072ac8;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* Hero Section  */
.hero-container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin-bottom: 40px;
}

.hero-heading {
    font-size: 30px;
    margin: 20px 0 30px 0;
    text-align: center;
    line-height: 39px;
}

.hero-text {
    text-align: center;
    margin: 0 0 40px;
    max-width: 600px;
    color: #6b708d;
    line-height: 25.5px;
}

.hero-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.get-in-touch-btn {
    padding: 15px 30px;
    margin: 0 0 20px 0;
    background-color: #072ac8;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.see-our-work-btn {
    color: #6b708d;
    font-weight: 500;
    text-decoration: none;
}

.hero-content-img {
    position: relative;
}

.hero-img {
    max-width: 100%;
    width: 560px;
}

.hero-img-card-1 {
    display: none;
    width: 294px;
    position: absolute;
    left: -19%;
    top: 0%;
    right: auto;
    bottom: auto;
}

.hero-img-card-2 {
    display: none;
    width: 290px;
    position: absolute;
    left: auto;
    top: auto;
    right: -25%;
    bottom: -22%;
}

/* Logos Section  */
.logos-container {
    margin-top: 40px;
}

.logos-grid {
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-column-gap: 20px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
}

.logo-img-container {
    width: 120px;
    display: flex;
    height: 96px;
    max-height: 96px;
    max-width: 150px;
    justify-content: center;
    align-items: center;
}

.logo-img {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}

/* Projects Section  */
.projects-section {
    margin-top: 40px;
}

.projects-section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.projects-grid {
    margin-top: 20px;
    justify-items: stretch;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-row-gap: 26px;
}

.projects-heading {
    margin: 20px 0 10px 0;
    font-size: 30px;
    text-align: center;
}

.project-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    width: 340px;
    max-width: 340px;
    height: 444px;
    max-height: 444px;
}

.project-box-img {
    width: 100%;
    height: 240px;
}

.project-box-heading {
    font-size: 24px;
    margin: 30px 30px 20px;
    font-weight: 500;
}

.project-box-text {
    margin: 0 30px 10px;
}

.project-learn-more {
    display: inline-block;
    text-decoration: none;
    color: #072ac8;
    font-weight: 500;
    margin: 30px;
    cursor: pointer;
}

/* Testimonial Section  */
.testimonial-section {
    height: 450px;
    margin-top: 60px;
    background-color: #292e47;
    background-image: url(/assets/testimonial-section/orbit.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-left: auto;
    margin-right: auto;
}

.testimonial-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.testimonial-heading {
    color: #ecf7ff;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 45px;
    text-align: center;
    max-width: 400px;
    font-weight: bold;
}

.testimonial-text {
    color: #ffc600;
    font-size: 24px;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    line-height: 38px;
    text-align: center;
    font-weight: 500;
}

.testimonial-client {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.client-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.client-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}

.client-name {
    color: #a2d6f9;
    margin: 0;
}

.client-company {
    color: #ecf7ff;
    font-size: 13px;
    margin: 0;
}

.testimonial-emoji {
    display: none;
}

/* Services Section  */
.services-section {
    margin-top: 40px;
}

.services-heading {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
}

.services-collection {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.service-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    max-width: 100%;
    margin-bottom: 16px;
}

.service-card:last-of-type {
    margin-bottom: 0;
}

.service-icon-1 {
    background-image: url(../assets/services-section/icons/1.svg);
}

.service-icon-2 {
    background-image: url(../assets/services-section/icons/2.svg);
}

.service-icon-3 {
    background-image: url(../assets/services-section/icons/3.svg);
}

.service-icon {
    width: 80px;
    height: 80px;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 50%;
    background-color: #ecf7ff;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto;
}

.service-heading {
    margin: 30px 30px 20px;
    font-size: 24px;
    line-height: 27.6px;
    font-weight: 500;
}

.service-text {
    margin: 0 30px 10px;
    line-height: 19.5px;
}

.service-link {
    display: inline-block;
    text-decoration: none;
    margin: 30px;
    font-weight: 500;
    color: #072ac8;
}

/* Question Form Section  */
.question-section {
    width: 100%;
    height: 500px;
    margin-top: 60px;
    background-color: #ffc600;
}

.question-container {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-heading {
    font-size: 30px;
    margin: 20px 0;
    line-height: 44px;
}

.question-text {
    margin: 0;
}

.question-form {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 15px;
}

.email-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email-input {
    position: relative;
}

.email-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
    position: absolute;
    top: 27%;
    left: 8%;
    bottom: auto;
    right: auto;
}

.user-email {
    display: block;
    width: 100%;
    height: 80px;
    padding: 8px 12px;
    padding-left: 70px;
    font-size: 16px;
    background-color: #ecf7ff;
    border: 1px solid #cccccc;
}

.user-email::placeholder {
    color: black;
    font-size: 16px;
}

.user-email:focus {
    outline: none;
    border: 1px solid #949494;
}

.subscribe-btn {
    display: block;
    margin-top: 20px;
    height: 80px;
    width: 100%;
    max-width: 100%;
    padding: 15px 60px;
    background-color: #072ac8;
    border: 0;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 17px;
}

/* Footer Section  */
.footer-section {
    margin-top: 60px;
    margin-bottom: 100px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    max-width: 260px;
}

.footer-logo {
    width: 100px;
    height: 30px;
    margin-bottom: 30px;
}

.footer-info-text {
    text-align: center;
    margin: 0;
    line-height: 25.5px;
}

.footer-menu {
    margin-top: 20px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

.footer-link {
    text-decoration: none;
    color: #072ac8;
}

/* ----------------- CONTACT PAGE ------------------  */
/* Contact Form Section  */
.contact-form-heading {
    margin-bottom: 40px;
    margin-top: 0;
    font-size: 40px;
    line-height: 44px;
}

.contact-form-flex {
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
    color: #6b708d;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
}

.form-style {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-label-style {
    font-size: 20px;
    margin-bottom: 10px;
}

.form-input-style {
    width: 100%;
    height: 70px;
    background-color: #6b708d1a;
    padding: 8px 12px;
    padding-left: 20px;
    border: none;
    font-size: 17px;
    margin-bottom: 22px;
    color: #333333;
}

.form-input-style::placeholder {
    font-size: 17px;
    color: #6b708d;
}

.form-input-style:focus {
    outline: none;
}

.email-phone-container {
    display: flex;
    flex-direction: column;
}

.contact-message-textarea {
    height: 200px;
}

.contact-submit-btn {
    display: block;
    height: 80px;
    width: 100%;
    max-width: 100%;
    padding: 15px 60px;
    background-color: #072ac8;
    border: 0;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 17px;
}



/* ----------------- MEDIA QUERIES ------------------ */

/* Small devices (mobiles) */
@media (min-width: 576px) {
    /* Hero Section  */
    .hero-heading {
        font-size: 40px;
        line-height: 52px;
    }

    .hero-btns {
        flex-direction: row;
    }
    
    .get-in-touch-btn {
        margin: 0 40px 0 0;
    }

    /* Logos Section  */
    .logos-container {
        margin-top: 130px;
    }

    .logos-grid {
        grid-column-gap: 50px;
    }

    /* Projects Section  */
    .projects-heading {
        font-size: 40px;
    }

    .projects-section-container {
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }

    /* Testimonial Section  */
    .testimonial-heading {
        font-size: 40px;
    }

    /* Services Section  */
    .services-heading {
        font-size: 40px;
    }

    /* Question Form Section  */
    .user-email {
        width: 393px;
    }
}

/* Medium devices (tablets) */
@media (min-width: 768px) {
    /* Hero Section  */
    .hero-heading {
        font-size: 60px;
        line-height: 78px;
    }

    .hero-text {
        font-size: 20px;
        line-height: 30px;
    }

    .hero-img-card-1, .hero-img-card-2 {
        display: inline-block;
    }

    /* Projects Section  */
    .projects-section-container {
        align-items: flex-start;
    }

    .projects-grid {
        margin-top: 70px;
        width: 100%;
        max-width: 100%;
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-column-gap: 40px;
        grid-row-gap: 16px;
    }

    /* Testimonial Section  */
    .testimonial-section {
        position: relative;
        height: 500px;
    }

    .testimonial-emoji {
        display: inline-block;
        width: 100px;
        height: 100px;
        position: absolute;
    }

    .blonde-girl {
        top: 0%;
        left: 0%;
        bottom: auto;
        right: auto;
        margin-top: 5%;
        margin-left: 10%;
    }

    .brunete-girl {
        top: 0%;
        right: 0%;
        bottom: auto;
        left: auto;
        margin-top: 5%;
        margin-right: 10%;
    }

    .brunete-girl {
        top: 0%;
        right: 0%;
        bottom: auto;
        left: auto;
        margin-top: 5%;
        margin-right: 10%;
    }

    .glasses-boy {
        top: auto;
        right: auto;
        bottom: 0%;
        left: 0%;
        margin-bottom: 5%;
        margin-left: 10%;
    }

    .cap-boy {
        top: auto;
        left: auto;
        bottom: 0%;
        right: 0%;
        margin-bottom: 5%;
        margin-right: 10%;
    }

    /* Services Section  */
    .services-heading {
        text-align: start;
    }

    .services-collection {
        margin-top: 70px;
        flex-direction: row;
    }

    .service-card {
        max-width: 340px;
        margin-bottom: 0;
        margin-right: 40px;
    }

    .service-card:last-of-type {
        margin-right: 0;
    }

    /* Question Form Section  */
    .question-heading {
        font-size: 40px;
    }

    .email-form {
        flex-direction: row;
    }

    .subscribe-btn {
        margin-top: 0;
        margin-left: 20px;
    }

    /* Footer Section  */
    .footer-container {
        flex-direction: row;
        align-items: stretch;
    }

    .footer-info {
        align-items: flex-start;
    }

    .footer-info-text {
        text-align: start;
    }

    .footer-menu {
        margin-top: 0;
    }

    /* ----------------- CONTACT PAGE ------------------  */
    /* Contact Form Section  */
    .contact-form-heading {
        font-size: 60px;
        line-height: 66px;
        margin-bottom: 80px;
    }

    .email-phone-container {
        flex-direction: row;
        width: 100%;
        max-width: 100%;
    }

    .contact-email-form {
        flex-grow: 1;
        margin-right: 8px;
    }

    .contact-phone-form {
        flex-grow: 1;
        margin-left: 8px;
    }
}

/* Large devices (desktops) */
@media (min-width: 992px) {
    /* Header & Navbar Section  */
    .header {
        max-width: 1100px;
        margin: 0 auto;
        margin-top: 70px;
        padding: 0;
    }

    .burger-menu-btn {
        display: none;
    }

    .navbar {
        display: flex;
    }

    .contact-us-btn {
        display: flex;
    }

    /* Hero Section  */
    .hero-section {
        padding-top: 100px;
    }

    .hero-container {
        flex-direction: row;
        justify-content: center;
    }

    .hero-content {
        max-width: 530px;
        align-items: flex-start;
        margin-bottom: 0;
    }

    .hero-heading, .hero-text {
        text-align: start;
    }

    .hero-text {
        max-width: 435px;
    }

    .hero-btns {
        flex-direction: row-reverse;
    }

    .get-in-touch-btn {
        margin-left: 20px;
    }

    /* Logos Section  */
    .logos-container {
        max-width: 1100px;
        margin-right: auto;
        margin-left: auto;
    }

    .logos-grid {
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 16px;
        grid-template-rows: auto;
    }

    /* Project Section  */
    .projects-section {
        margin-top: 200px;
    }

    .projects-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* Testimonial Section  */
    .testimonial-section {
        max-width: 1320px;
        margin-left: auto;
        margin-right: auto;
        height: 622px;
        margin-top: 200px;
    }

    .testimonial-heading {
        font-size: 40px;
    }

    .testimonial-emoji {
        width: 150px;
        height: 150px;
    }

    /* Service Section  */
    .services-section {
        margin-top: 200px;
    }

    .services-container {
        max-width: 1100px;
        margin-right: auto;
        margin-left: auto;
    }

    /* Question Form Section  */
    .question-section {
        margin-top: 200px;
        height: 500px;
        max-width: 1320px;
        margin-right: auto;
        margin-left: auto;
    }

    .question-container {
        max-width: 1100px;
        margin-right: auto;
        margin-left: auto;
    }

    /* Footer Section  */
    .footer-section {
        margin-top: 200px;
    }

    .footer-container {
        max-width: 1100px;
        margin-right: auto;
        margin-left: auto;
    }

    /* ----------------- CONTACT PAGE ------------------  */
    /* Contact Form Section  */
    .contact-form-container {
        margin-top: 200px;
        max-width: 1100px;
        margin-right: auto;
        margin-left: auto;
    }
}

/* X-Large devices (larger desktops) */
@media (min-width: 1200px) {
    /* Testimonial Section  */
    .testimonial-heading {
        max-width: none;
    }
}
